<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Communications</key>
	<dict>
		<key>error</key>
		<string>Not implemented</string>
	</dict>
	<key>EndpointSecurity</key>
	<dict>
		<key>auth</key>
		<integer>0</integer>
		<key>authExecCount</key>
		<integer>10</integer>
		<key>authLookupCount</key>
		<integer>6</integer>
		<key>authLookupMisses</key>
		<integer>0</integer>
		<key>exec</key>
		<integer>0</integer>
		<key>notify</key>
		<integer>0</integer>
		<key>setflags</key>
		<integer>10</integer>
		<key>signal</key>
		<integer>10</integer>
		<key>timeouts</key>
		<integer>1</integer>
	</dict>
	<key>StaticAnalysis</key>
	<dict>
		<key>avg</key>
		<integer>311</integer>
		<key>max</key>
		<integer>56</integer>
		<key>ready</key>
		<true/>
		<key>requests</key>
		<integer>8</integer>
		<key>successes</key>
		<integer>9</integer>
	</dict>
	<key>agent_info</key>
	<dict>
		<key>agentID</key>
		<string>60ADE91E-9289-49D3-A333-AADA7257655E</string>
		<key>customerID</key>
		<string>D417DDAD-0751-4617-BDE4-496A74DACF82</string>
		<key>sensor_operational</key>
		<string>true</string>
		<key>version</key>
		<string>6.11.13304.0</string>
	</dict>
	<key>device_control</key>
	<dict>
		<key>enabled</key>
		<integer>0</integer>
		<key>fs_auth</key>
		<integer>0</integer>
		<key>rule_count</key>
		<integer>0</integer>
	</dict>
	<key>hashactor</key>
	<dict>
		<key>current</key>
		<integer>0</integer>
		<key>failed</key>
		<integer>0</integer>
		<key>hits</key>
		<integer>55</integer>
		<key>max</key>
		<integer>3</integer>
		<key>misses</key>
		<integer>20</integer>
	</dict>
	<key>hbfw</key>
	<dict>
		<key>data</key>
		<integer>0</integer>
		<key>log</key>
		<false/>
		<key>packet</key>
		<integer>0</integer>
		<key>rule_count</key>
		<integer>0</integer>
		<key>wildcards</key>
		<integer>0</integer>
	</dict>
	<key>kill_process</key>
	<dict>
		<key>failure_count</key>
		<integer>0</integer>
		<key>success_count</key>
		<integer>0</integer>
	</dict>
	<key>queue</key>
	<dict>
		<key>max_queue_depth</key>
		<integer>2</integer>
		<key>number_of_queues</key>
		<integer>7</integer>
		<key>number_of_workers</key>
		<integer>29</integer>
		<key>queue_depth</key>
		<integer>0</integer>
		<key>total_dequeued</key>
		<integer>10</integer>
		<key>total_queued</key>
		<integer>10</integer>
	</dict>
	<key>dynamic_settings</key>
	<dict>
		<key>installGuard</key>
		<string>Enabled</string>
	</dict>
	<key>smcache</key>
	<dict>
		<key>invalidate_hits</key>
		<integer>4</integer>
		<key>invalidate_misses</key>
		<integer>5</integer>
		<key>read_hits</key>
		<integer>10</integer>
		<key>read_misses</key>
		<integer>11</integer>
		<key>write_hits</key>
		<integer>7</integer>
		<key>write_misses</key>
		<integer>99</integer>
	</dict>
</dict>
</plist>